<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextSnippet</title>
    <link rel="stylesheet" href="static/styles.css" />
<body>
    <div class="form">
        <div class="snip">
            <h1>TextSnippet</h1>
        </div>
        <div class="span">
        <span>click here → </span>
        </div>
        <div class="inputs-form ">
            <input type="text" class="paragraphs" id="paragraphInput" placeholder="number of paragraphs">
            <small></small>
        </div>
            <div class="button-container">
                <button id="generate-snippet-btn">generate</button>
            </div>
        <div  class="text-container">
            <textarea readonly="true" class="text" id="text-snippet"></textarea>
        </div>
    </div>
</body>
<script type="text/javascript" src="static/script.js"></script>
</head>
</html>