html{
    background-color:rgb(0, 0, 0);
    transition: all 1.5s;
}
h1{
    color: rgba(255, 255, 255, 0.678);
    margin:center;
    margin-left: -1rem;
    font-family:sans-serif;

}
body{
    display:flex;
    height: 100vh;
    justify-content:center;
    align-items:center;
}
body .form {
    font-family:sans-serif;
    position: relative;
    align-items: center;
    place-items: center;
    margin:auto  ;
    background-color: rgb(41, 40, 40);
    width: 450px;
    height: 450px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-left:2px solid rgba(68, 68, 68, 0.178) ;
    border-top:2px solid rgba(68, 68, 68, 0.178) ;
    box-shadow: none;
    border-top:2px solid rgba(68, 68, 68, 0.178) ;
    border-radius: 4px;
    box-shadow: 2px;
    color:transparent;
    -webkit-text-stroke: 0.2px #d6f4f4;
    transition: all 0.5s;
}
body .form:hover{
    box-shadow: -8px -7px #052c3d,
                -16px -14px #e601c0,
                -24px -21px #e9019a,
                -32px -28px #f40468,
                -40px -35px 10px #f79098;
}
label{
    position: relative;
    background-color:transparent;
    top: 50px;
    left: 0;
    display: grid;
    place-items: center;
    font-family:sans-serif;
}
.snip {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 31%;
    background-color:transparent;
}
.snip h1 {
    background-color:transparent;
    font-family:sans-serif;
}
.button-container{
    background-color:transparent;
    position: relative;
    display:grid ;
    place-items:center;
    top: 0;
    left: 0;
}
.button{
    position: absolute;
    background-color:transparent;
    border-color: transparent;
    border:0 solid rgba(49, 49, 49, 0.432);
    margin: auto;
    top: 100px ;
    color: white;
    font-family:sans-serif;
    transition: all 0.5s;
}
.button:hover{
    background-color:rgba(42, 43, 42, 0.514);
    box-shadow:  -2px -1px #052c3d,
    -4px -3px #e601c0,
    -6px -5px #e9019a,
    -8px -7px #f40468,
    -10px -9px 10px #f79098;
    border:2px solid #052c3d33
}
.text{
    width: 447px;
    height: 175px;
    position: relative;
    top: 4em;
    left: 0;
    font-size:12px;
    padding-bottom: 100px;
    background-size:5% ;
    border-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: transparent;
    overflow:auto;
    color: white;
    font-family:sans-serif;
}
.text-container{
    background-color: transparent;
}

html:hover{
    background-color:#ac646a;
    transition: background-color 400ms ease;
}
.volume{
    background-color:transparent;
}
p{
    background-color: transparent;
}
.text-light{
    background:transparent;
}
span{
    background-color:transparent;
}
.inputs-form{
    background-color:transparent;
    position:absolute;
    margin: auto;
    left: 31%;
    top: 60px;
 }
 input{ 
    border: 2px solid transparent;
    border-radius: 4px;
    color: White;
    font-family:sans-serif;
 }
 input::placeholder{
    color: rgba(255, 255, 255, 0.678);
    font-family:sans-serif;
  }
 .span{
    background-color: transparent;
    position:absolute;
    margin: auto;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
 }
 span{
    position:relative;
    margin: auto;
    left: -7.95em;
    top: 3.8em;
    display: grid;
    justify-content: center;
    color:rgb(255, 255, 255);
    animation:linear infinite alternate;
    animation-name: run;
    animation-duration: 1.3s;
}     
@keyframes run {
    0% { left: -11em;}
    50%{ left: -7.95em;
         text-shadow: -2px -1px #052c3d,
                     -4px -3px #e601c0,
                     -6px -5px #e9019a,
                     -8px -7px #f40468,
                     -10px -9px 10px #f79098;
    }
    100%{ left: -11em;}
}
.inputs-form.error{
    visibility: visible;
    background-color:transparent;
    position:absolute;
    margin: auto;
    left: 31%;
    top: 60px;
}
.inputs-form small{
    visibility: hidden;
    border: 1px solid transparent;
    border-radius: 2px;
    background:linear-gradient(45deg , rgba(255, 0, 0, 0.432), rgba(0, 0, 255, 0.479));
    color:rgb(255, 255, 255);
    position:absolute;
    height: 177%;
    width: 75%;
    bottom:0;
    left:16em;
    font-size: 11px;
}
.inputs-form.error small{
    visibility: visible;
}
.paragraphs{
    background-color:transparent; 
}
.muted{
    position: relative;
    margin: auto;
    margin-left:17rem;
    margin-top:6rem;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 1.5em;
    font-family:sans-serif;
}
.muted p {
    z-index: 1;
}
.muted button{
    font-family:sans-serif;
    transition: all 0.5s;
    height: 1.5em;
    width: 3em;
}
.muted button:hover{
    color:white;
    background-color:rgba(42, 43, 42, 0.514);
    box-shadow:  -2px -1px #052c3d,
    -4px -3px #e601c0,
    -6px -5px #e9019a,
    -8px -7px #f40468,
    -10px -9px 10px #f79098;
    border:2px solid #052c3d33
}
.repeat{
    position: relative;
    margin: auto;
    margin-left:8em;
    margin-top:-1.5em;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 1.5em;
    width: 5em;
    color:black;
    font-family:sans-serif;
    transition: all 0.5s;
}
.repeat:hover{
    color:white;
    background-color:rgba(42, 43, 42, 0.514);
    box-shadow:  -2px -1px #052c3d,
    -4px -3px #e601c0,
    -6px -5px #e9019a,
    -8px -7px #f40468,
    -10px -9px 10px #f79098;
    border:2px solid #052c3d33
}
